/*************** FOOTER ***************/

footer {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
}

    footer p {
        width: 100%;
        color: white;
        background-color: black;
        text-align: center;
    }